.home-wave {
    z-index: 1;
    position: relative;
}

.home-welcome {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 100px;
    background-color: var(--bs-gray-200);
}

.home-welcome-greet {
    top: 50%;
    left: 50%;
    margin: 0;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.home-welcome-social-way>a>i {
    font-size: 2em;
    color: black;
}

.home-welcome-creator {
    align-self: center;
    align-items: center;
    vertical-align: middle;
}

.home-welcome-creator-image {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background-size: cover;
    border: 10px solid white;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--bs-gray-500) 0 0 50px;
    transition: background-image ease-in-out 0.2s;
    background-image: url('../../assets/images/maseshi-creator.webp');
}

.home-welcome-creator-image:hover {
    background-image: url('../../assets/images/chaiwat-suwannarat-creator.webp');
}

.home-about-image {
    border-radius: 20px;
    box-shadow: var(--bs-gray-500) 0px 0 50px;
}

.home-about-content {
    align-self: center;
    align-items: center;
    vertical-align: middle;
}

.home-skills,
.home-powered {
    background-color: #f0f0fa;
}

.home-skills-icon {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background-color: ghostwhite;
}

.home-skills-icon img {
    padding: 20px;
}

.home-powered-icon {
    object-fit: cover;
}

.home-card-link {
    color: unset;
    text-decoration: none;
}

.home-card-link:hover {
    color: unset;
}

.home-card {
    top: 0;
    border: 0;
    width: auto;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gainsboro;
    transition: box-shadow 0.3s, top 0.3s;
}

.home-card:hover {
    top: -15px;
    box-shadow: 0px 20px 15px gainsboro;
}

.home-card img {
    object-fit: cover;
}

.home-card i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 80px;
    text-align: center;
    background-color: var(--bs-light);
}

.home-btn {
    border-radius: 15px;
}

.home-other-card {
    padding: 10px;
    height: 100%;
    border-radius: 30px;
}

.home-other-card>.card-footer {
    border: 0;
    background-color: transparent;
}

.home-other-btn {
    border-radius: 15px;
}

.home-other-btn-funding-bmc.btn-whatever,
.home-other-btn-funding-bmc.btn-whatever:hover,
.home-other-btn-funding-bmc.btn-whatever:active,
.home-other-btn-funding-bmc.btn-whatever:visited,
.home-other-btn-funding-bmc.btn-whatever:focus {
    background-color: #FFDD00;
    border-color: #FFDD00;
}

@media screen and (max-width: 768px) {
    .home-about-image {
        width: 100%;
        height: 200px;
    }

    .home-welcome-social-way {
        display: table;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}