.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-not-found-button {
    border-radius: 100px;
}

.page-not-found-terminal {
    color: white;
    padding: 10px;
    min-height: 300px;
    border-radius: 15px;
    background-color: #222222;
}

.page-not-found-terminal-body > p {
    margin: 0;
    font-family: monospace;
}

.page-not-found-terminal-input > .form-control {
    border: 0;
    color: white;
    background-color: transparent;
}

.page-not-found-terminal-input > .form-control:focus {
    outline: none;
    box-shadow: none;
}