.projects {
    width: 100%;
    min-height: 100vh;
}

.projects-beta-content {
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    background-color: royalblue;
}

.projects-navbar {
    padding: 0;
}

.projects-navbar-button {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 18px;
    padding: 10px;
    font-size: 20px;
    backdrop-filter: blur(3px);
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: gainsboro 0px 0px 20px 0px;
}

.projects-navbar-button:hover {
    background-color: rgba(250, 250, 250, 0.6);
    box-shadow: gainsboro 0px 0px 10px 0px;
}

.projects-navbar-button:focus {
    box-shadow: gainsboro 0px 0px 20px 0px;
}

.projects-offcanvas-navbar {
    flex: auto;
    padding: 0;
}

.projects-search-box>input {
    border-radius: 10px;
}

.projects-list-search-empty,
.projects-list-empty {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: ghostwhite;
}

.projects-list-search-empty>i {
    font-size: 30px;
}

.projects-list-empty-header {
    font-size: 30px;
}

.projects-list-loading.nav-link,
.projects-list-data.nav-link {
    color: black;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 0;
}

.projects-list-loading>.placeholder-glow {
    white-space: nowrap;
}

.projects-list-loading>.placeholder-glow>.placeholder {
    border-radius: 10px;
}

.projects-list-loading>.placeholder-glow>.col-1 {
    width: 30px;
    height: 30px;
}

#v-pills-new-project-tab>.card-body {
    padding: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.projects-list-data.nav-link:hover {
    color: black;
    background-color: gainsboro;
}

.projects-list-data.nav-link.active:hover {
    color: white;
    background-color: #297eff;
}

.projects-list-data.active .projects-list-no-icon-image {
    color: #297eff;
}

.projects-list-no-icon {
    display: flex;
    align-items: center;
}

.projects-list-icon,
.projects-list-no-icon-image {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.projects-list-no-icon-image {
    display: table-cell;
    margin-right: 8px;
    vertical-align: middle;
    background-color: var(--bs-light);
}

.projects-list-no-icon-image>i {
    font-size: 20px;
}

.projects-list-title-home {
    color: black;
    border: 0;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #efefef;
    transition: background-color 0.15s ease-in-out;
}

.projects-list-title-home:hover {
    background-color: gainsboro;
}

.projects-list-title-home:active {
    background-color: #cecece;
}

.projects-list-title-home:focus {
    transition: background-color 0s ease-in-out;
}

.projects-content button,
.projects-content a {
    border-radius: 10px;
}

.projects-content span.placeholder {
    border-radius: 10px;
}

.projects-welcome-languages .card {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.projects-welcome-languages .card.disabled {
    cursor: auto;
    background-color: ghostwhite;
}

.projects-welcome-languages .card.active {
    color: white;
    background-color: #297eff;
}

.projects-welcome-languages .card:hover {
    background-color: gainsboro;
}

.projects-welcome-languages .card.disabled:hover {
    background-color: whitesmoke;
}

.projects-welcome-languages .card.active:hover {
    background-color: royalblue;
}

.projects-content-icon,
.projects-content-no-icon {
    border-radius: 20px;
}

.projects-content-no-icon {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    background-color: var(--bs-light);
}

.projects-content-no-icon>span {
    font-size: 50px;
}

.projects-content-name>span.badge {
    margin-left: 10px;
}

.projects-content-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.projects-content-info-loading>.nav-tabs>li.nav-item>.nav-link,
.projects-content-info>.nav-tabs>li.nav-item>.nav-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
}

.projects-content-edit button {
    padding: 10px;
    border-radius: 100px;
}

.projects-content-loading {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: ghostwhite;
}

.projects-content-empty {
    padding: 30px;
    font-size: 30px;
    text-align: center
}

.projects-new-clear-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.projects-content-empty>i,
.projects-new-clear-data>i {
    font-size: 80px;
}

.projects-new-navbar-preview {
    border-radius: 10px;
}

.projects-new-upload-icon>label {
    font-size: 30px;
    padding: 30px 38px;
    border-radius: 20px;
    border: 2px solid gainsboro;
    border-style: dashed;
    cursor: pointer;
}

.projects-new-upload-icon>label>img {
    border-radius: 20px;
}

.projects-new-detail-content {
    width: 100%;
}

.projects-new-news-detail input.form-control,
.projects-new-news-detail textarea.form-control {
    border-radius: 5px;
}

.projects-new-news-action>button {
    border-radius: 10px;
}

.projects-new-news-detail {
    border-radius: 10px;
    overflow: hidden;
}

.projects-new-news-detail>.row>.col-md-3 {
    padding: 20px;
    background-color: ghostwhite;
}

.projects-new-news-author-avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: relative;
    border-radius: 10px;
    background-color: var(--bs-gray-200);
}

.projects-new-news-author-avatar[src*="undefine"]::after {
    top: 0;
    left: 0;
    content: "";
    width: inherit;
    height: inherit;
    font-size: large;
    position: absolute;
    align-items: center;
    background-color: var(--bs-gray-200);
}

.projects-new-news-message img {
    border-radius: 15px;
    max-width: -webkit-fill-available;
}

.projects-content-get-start {
    margin-top: 20px;
    word-wrap: break-word;
}

.projects-content-get-start img {
    max-width: 100%;
}

.projects-content-get-start pre {
    color: var(--bs-dark);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bs-light);
}

.projects-content-get-start pre::-webkit-scrollbar {
    height: 0px;
}

.projects-content-get-start pre>code {
    background-color: transparent;
}

.projects-compute-info .card {
    border-radius: 10px;
}

.projects-news-new {
    width: 100%;
    font-size: 40px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.projects-news-new:hover {
    background-color: var(--bs-gray-200);
}

.projects-news-new>.card-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.projects-news-detail input.form-control,
.projects-news-detail textarea.form-control {
    border-radius: 5px;
}

.projects-news-action>button {
    border-radius: 10px;
}

.projects-news-detail {
    border-radius: 10px;
    overflow: hidden;
}

.projects-news-detail>.row>.col-md-3 {
    padding: 20px;
    background-color: ghostwhite;
}

.projects-news-author-avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: relative;
    border-radius: 10px;
    background-color: var(--bs-gray-200);
}

.projects-news-author-avatar[src*="undefine"]::after {
    top: 0;
    left: 0;
    content: "";
    width: inherit;
    height: inherit;
    font-size: large;
    position: absolute;
    align-items: center;
    background-color: var(--bs-gray-200);
}

.projects-news-message img {
    border-radius: 15px;
    max-width: -webkit-fill-available;
}

.projects-changelog {
    word-wrap: break-word;
}

.projects-changelog>.accordion-item:first-of-type,
.projects-changelog>.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-changelog>.accordion-item:last-of-type,
.projects-changelog>.accordion-item:last-of-type .accordion-button {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projects-changelog-accordion-body {
    white-space: normal;
}

.projects-changelog-extra-link {
    display: inline-block;
    padding: 0px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: var(--bs-gray-200);
}

.projects-changelog-extra-link:hover {
    text-decoration: underline;
}

.projects-changelog-accordion-footer {
    border-top: 1px solid gainsboro;
    padding: 20px;
}

.projects-changelog-file-size {
    float: right;
}

.projects-changelog-assets>.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-changelog-assets>.list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projects-source-code-detail {
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: ghostwhite;
}

.projects-source-code-breadcrumb .breadcrumb-item {
    align-self: center;
}

.projects-source-code-breadcrumb-home {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    background-color: lightblue;
}

.projects-source-code-breadcrumb-home.active {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    background-color: gainsboro;
}

.projects-source-code-directory {
    border-radius: 10px;
}

.projects-source-code-directory>button {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.projects-source-code-directory>button>.row>.col-md-2 {
    text-align: right;
}

.projects-source-code-file-size {
    float: right;
}

.projects-source-code-content,
.projects-source-code-content>.card-header {
    border-left: none;
    border-right: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-source-code-content-file-action {
    text-align: right;
    align-self: center;
}

.projects-source-code-content-file-action>* {
    margin-left: 5px;
}

.projects-source-code-content,
.projects-source-code-content>.card-body {
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projects-source-code-content>.card-body>pre {
    padding: 20px;
    margin: 0;
}

.projects-source-code-content>.card-body>pre>code {
    font-family: CascadiaCode;
}

.projects-source-code-content>.card-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aliceblue;
}

.projects-source-code-info {
    padding: 10px;
    text-align: center;
}

.projects-source-code-content-file-sha {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.projects-source-code-content-can-not-open {
    font-family: Mitr;
    text-align: center;
}

.projects-source-code-content-image {
    border-radius: 10px;
    text-align: center;
}

.projects-source-code-content>.card-body>pre>code {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

.projects-source-code-content>.card-body>pre>code pre {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bs-dark);
}

.projects-source-code-content>.card-body>pre>code pre>code {
    background-color: transparent;
}

.projects-source-code-content-word-wrap {
    white-space: break-spaces;
}

.projects-source-code-content-raw-content {
    white-space: pre;
}

.projects-source-code-content-format-content {
    white-space: normal;
}

.projects-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

.projects-empty>i {
    font-size: 60px;
}

@media screen and (max-width: 768px) {
    .projects-content-info-loading>.nav-tabs,
    .projects-content-info>.nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }

    .projects-content-info-loading>.nav-tabs::-webkit-scrollbar,
    .projects-content-info>.nav-tabs::-webkit-scrollbar {
        width: 0.5rem;
        height: 0px;
    }

    .projects-content-info-loading>.nav-tabs .nav-link,
    .projects-content-info>.nav-tabs .nav-link {
        white-space: nowrap;
    }

    .projects-content-loading-name {
        display: table;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .projects-content-name {
        margin-top: 10px;
        text-align: center;
    }
}