div.tos-welcome {
    display: block;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

div.tos-welcome::after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    opacity: 0.5;
    position: absolute;
    background: url(../../assets/images/terms-of-service-welcome.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;   
}