.auth-modal {
    backdrop-filter: blur(10px);
    background-color: rgba(248, 249, 250, 0.6);
}

.auth-modal > .modal-dialog > .modal-content {
    top: 50%;
    left: 50%;
    margin: 0;
    width: 365px;
    padding: 25px;
    color: black;
    position: absolute;
    background: white;
    border-radius: 30px;
    border: gainsboro solid 1px;
    transform: translate(-50%, -50%);
}

.auth-modal-content-brand {
    font-size: 25px;
    font-family: 'Mitr-SemiBold';
    text-align: center;
}

.auth-modal-content-title {
    padding: 10px;
    margin-top: 0.5rem;
    text-align: center;
}

.auth-modal-input,
.auth-modal-input > label {
    display: block;
    margin: 0;
}

.auth-modal-input > label {
    padding: 0;
    position: absolute;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    transform: translate(0, -12px);
}

.auth-modal-email-input,
.auth-modal-password-input,
.auth-modal-confirm-password-input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: cornflowerblue solid 2px;
}

.auth-modal-result {
    color: orange;
    margin-bottom: 1rem;
}

.auth-modal-login,
.auth-modal-register,
.auth-modal-forgot {
    width: 100%;
    border-radius: 10px;
    display: inline-block;
}

.auth-modal-options {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .auth-modal > .modal-dialog {
        position: unset;
        margin: 0;
    }

    .auth-modal > .modal-dialog > .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}