.navbar-style {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    position: fixed;
    transition: top 0.2s, 0.2s;
}

.navbar-hidden {
    top: -100px;
}

.navbar-show {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 20px 0 rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
}

.navbar-button {
    border-radius: 10px;
}

.navbar-style .navbar-brand {
    font-size: 25px;
    font-family: 'Mitr-SemiBold';
}

.navbar-style .navbar-brand>img {
    margin-right: 10px;
}

.navbar-style .navbar-brand:hover {
    opacity: 80%;
}

.navbar-style .navbar-toggler {
    border-radius: 10px;
}

.navbar-style .offcanvas {
    height: 100vh;
}

.navbar-notification-button {
    border: 0;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bs-light);
    transition: opacity 0.2s;
}

.navbar-notification-button:focus {
    outline: none;
    box-shadow: none;
}

.navar-notification>.dropdown>.dropdown-menu {
    opacity: 0.95;
    max-width: 400px;
    min-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    overflow-y: auto;
}

.navar-notification .toast {
    border-radius: 10px;
    overflow: hidden;
}

.navbar-notification-error {
    text-align: center;
}

.navbar-notification-error>i {
    font-size: 30px;
}

.navbar-profile>.dropdown>.dropdown-menu {
    opacity: 0.95;
    border-radius: 15px;
    width: max-content;
}

.navbar-profile>.dropdown>.dropdown-menu>div>select.form-select {
    border-radius: 10px;
}

.navbar-profile-button {
    padding: 0;
    border: none;
    font-size: 40px;
    background-color: transparent;
    transition: opacity 0.2s;
}

.navbar-profile-button>img {
    border-radius: 100px;
}

.navbar-profile-button:focus {
    outline: none;
    box-shadow: none;
}

.navbar-profile-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .navar-notification>.dropdown>ul.dropdown-menu,
    .navbar-profile>.dropdown>ul.dropdown-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        bottom: 0;
        top: 8%;
        max-height: none;
        border-radius: 20px 20px 0px 0px;
    }
}