.footer-light {
    background-color: #F0F0FA;
}

.footer-info {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-brand {
    color: black;
    opacity: 1;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Mitr-SemiBold';
    transition: opacity 0.3s ease-in-out;
}

.footer-brand > img {
    margin-right: 10px;
}

.footer-brand:hover {
    opacity: 0.8;
    color: rgb(0, 0, 0, 0.85);
}

.footer-link {
    list-style: none;
    padding: 0;
}

.footer-link > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-link-a {
    color: black;
}

.footer-link-a:hover {
    color: black;
}

.footer-link-a.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.footer-raw {
    padding: 20px;
    background-color: var(--bs-gray-200);
}